/* ****** NAVBAR********** */
div.navbar {
  background-color: #003049;
  width: 100%;
  height: 5vh;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font: 20px "Raleway", sans-serif;
  font-weight: bold;
  text-decoration-line: none;
}
a.navbar,
span.navbar {
  color: white;
  background-color: transparent;
  text-decoration-line: none;
  text-indent: 50px;
  margin-right: 1%;
  display: inline;
}

span.navbar {
  margin-right: 72%; /*space until the parts*/
}
/* ****** Home ********** */
#home {
  background-color: #52796f;
  width: 100%;
  height: 70vh;
}

/* ****** About ********** */
#About {
  background-color: #780000;
  color: white;
  font: 20px "Raleway", sans-serif;
  text-align: justify;
  width: 100%;
  height: 25vh;
}

span {
  background-color: transparent;
  font: 30px "Raleway", sans-serif;
  font-weight: bolder;
}
/*  ******* team part *******/
#Team {
  background-color: black;
  color: white;
  font: 40px "Raleway", sans-serif;
  width: 100%;
  height: 50vh;
}

section.team {
  background-color: transparent;
  padding-top: 6%;
  padding-left: 12%;
  text-align: center;
  display: block;
  float: left;
}

img.oumayma {
  width: 200px;
  height: 200px;
  border: 5px solid rgba(54, 1, 47, 0.295);
  border-radius: 50%;
  margin-right: 5%;
  margin-left: 5%;
}
span.oumayma,
span.asma,
span.issam {
  text-align: center;
  display: block;
}

img.asma {
  width: 200px;
  height: 200px;
  border: 5px solid rgba(54, 1, 47, 0.295);
  border-radius: 50%;
  text-align: center;
  margin-left: 5%;
}
img.issam {
  width: 200px;
  height: 200px;
  border: 5px solid rgba(54, 1, 47, 0.295);
  border-radius: 50%;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}
